*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: rgb(255, 234, 196);
  color: #000;
  font-family: 'Cinzel', serif;
  font-size: 2rem;
  line-height: 1.6;
  margin: 2rem;
}

/* font-family: 'Zeyada', cursive; */
